<!-- /templates/mysql_connect.html -->
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>MySQL Configuration</title>
</head>
<body>
<div class="container">
    <br/>
    <div class="row">
        <div class="col-6">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Test your mysql connection</h4>
                <p>It script was created to test MySQL Connections.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form action="/mysql_connect" method="post">
                <div class="form-group">
                    <div class="form-group width=50%">
                        <label for="db_uri">Database URI</label>
                        <input type="text" class="form-control" name="db_uri" id="db_uri" placeholder="Database URI">
                        <br/>
                        <label for="db_user">Database User</label>
                        <input type="text" class="form-control" name="db_user" id="db_user" placeholder="Database User Name">
                        <br/>
                        <label for="db_pass">Database Pass</label>
                        <input type="password" class="form-control" name="db_pass" id="db_pass" placeholder="Database Password">
                        <br/>
                        <label for="db_name">Database Name</label>
                        <input type="text" class="form-control" name="db_name" id="db_name" placeholder="Database Name">
                        <br/>
                        <button type="submit" class="btn btn-primary mb-2">Start Test !</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<!-- Minimal Styling -->
<style>
    form {
        margin: 2%
    }
    table {
        margin: 2% 0;
    }
</style>
</html>
